@model _19T1021020.DomainModels.Supplier
@using _19T1021020.Web.Codes
@{
}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Supplier/Save" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.SupplierID)
            @Html.ValidationSummary("", new { @style = "coler:@f00" })
            <div class="form-group">
                <label class="control-label col-sm-2" for="text">Tên nhà cung cấp:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.SupplierName,
                        new { @class = "form-control", @placeholder = "Nhập tên nhà cung cấp", @autufocus = "autufocus" })
                    @*@Html.ValidationMessageFor(m => m.SupplierName,"", new { @style = "coler:@f00" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="text">Tên liên hệ:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ContactName,
                        new { @class = "form-control", @placeholder = "Nhập tên liên hệ", @autufocus = "autufocus" })
                    @*@Html.ValidationMessageFor(m => m.SupplierName, "", new { @style = "coler:@f00" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="text">Địa chỉ:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Address,
                        new { @class = "form-control", @placeholder = "Nhập địa chỉ", @autufocus = "autufocus" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="number">Số điện thoại:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Phone,
                        new { @class = "form-control", @placeholder = "Nhập số điện thoại", @autufocus = "autufocus" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="text">Quốc gia:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Country,
                                            SelectListHelper.Countries(),
                                            new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(m => m.Country, "", new { @style = "coler:@f00" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="text">Thành phố:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.City,
                        new { @class = "form-control", @placeholder = "Nhập thành phố", @autufocus = "autufocus" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="number">Mã bưu chính:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.PostalCode,
                        new { @class = "form-control", @placeholder = "Nhập mã bưu chính", @autufocus = "autufocus" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>
                    <a href="~/Supplier" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

